// 
// Global
// 

// Scroll padding for all scroll targets on page used with
// native CSS smooth scrolling
// 
// https://caniuse.com/?search=scroll-padding

html {
    height: 100%;
    scroll-padding-top: calc(#{$navbar-height} - 1px);
}

// Styling for page sections
.page-section {
    padding: 6rem 0;

    .page-section-heading {
        font-size: 2.25rem;
        line-height: 2rem;
    }

    @include media-breakpoint-up(lg) {
        .page-section-heading {
            font-size: 3rem;
            line-height: 2.5rem;
        }
    }
}

.lead strong, .lead b {
    font-weight: bold; // Ensure strong and b tags are bold
}

.lead-paragraph {
    padding-left: 2rem; // Match the ul padding
    font-size: 1.25rem; // Ensure the font size matches
    font-weight: 300; // Ensure the font weight matches
}


.lead-list {
    padding-left: 4rem; // Match the ul padding
    font-size: 1.25rem; // Ensure the font size matches
    font-weight: 300; // Ensure the font weight matches
}